%nav.navbar.navbar-default.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#NavbarCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        %img{:src => image_path('fin-partners_logo.png'), :srcset => " #{image_path('fin-partners_logo@2x.png')} 2x, #{image_path('fin-partners_logo.png')} 1x"}/

    / Collect the nav links, forms, and other content for toggling
    #NavbarCollapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        -# %li{ nav_active('index.html') }
        -#   = link_to "Home", "/", title: "Home"

        - if lang == :en

          %li{ nav_active('about-us.html') }
            = link_to "About us", "/about-us.html", title: "About us"

          %li{ nav_active('what-we-do.html') }
            = link_to "What we do", "/what-we-do.html", title: "What we do"

          %li{ nav_active('contact-us.html') }
            = link_to "Contact us", "/contact-us.html", title: "Contact us"

        - else

          %li{ nav_active('fr/about-us.html') }
            = link_to "À propos de nous", "/fr/about-us.html", title: "À propos de nous"

          %li{ nav_active('fr/what-we-do.html') }
            = link_to "Nos missions", "/fr/what-we-do.html", title: "Nos missions"

          %li{ nav_active('fr/contact-us.html') }
            = link_to "Nous contacter", "/fr/contact-us.html", title: "Nous contacter"

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown

          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}

            - if lang == :en
              %img{:src => image_path('flags/flag-uk.png'), :srcset => " #{image_path('flags/flag-uk@2x.png')} 2x, #{image_path('flags/flag-uk.png')} 1x"}/
            - else
              %img{:src => image_path('flags/flag-fr.png'), :srcset => " #{image_path('flags/flag-fr@2x.png')} 2x, #{image_path('flags/flag-fr.png')} 1x"}/

            %span.hidden-sm
              = t("flag.title")
            %span.caret


          %ul.dropdown-menu
            %li
              = link_to clean_from_i18n(current_page.url) do
                - t("languages").drop(0).first(1).each do |lang|
                  = lang
            %li
              = link_to path(current_page.url, lang: :fr) do
                - t("languages").drop(1).first(1).each do |lang|
                  = lang
