%nav.navbar.navbar-default.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"}
        %img{:src => image_path('fin-partners_logo.png'), :srcset => " #{image_path('fin-partners_logo@2x.png')} 2x, #{image_path('fin-partners_logo.png')} 1x"}/

    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ nav_active('fr/index.html') }
          = link_to "Accueil", "/fr", title: "Home"

        %li{ nav_active('fr/about-us.html') }
          = link_to "À propos de nous", "/fr/about-us.html", title: "About us"

        %li{ nav_active('fr/what-we-do.html') }
          = link_to "Nos missions", "/fr/what-we-do.html", title: "What we do"

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Français
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "/"} Anglais
            %li
              %a{:href => "/"} Français
