---
title : Fin Partners - Global leader in SAP executive search and Talent Advisory
---

.about-us
  .container.banner.marge-delete
    .row
      .col-md-8.white

        .big-title
          %h2= t("about-us.title")

      .col-md-12.banner-inner
        - t("about-us.intro").each do |text|
          %p= text


.container.marge-delete
  .row.row-eq-height.bg-white.min-height-block
    .col-md-6.col-md-push-6.interim-consulting.bg-block
    .col-md-6.col-md-pull-6.block

      - t("about-us.features").drop(0).first(1).each do |feature|
        %h3= feature[:title]
        - feature[:description].each do |text|
          %p= text

      - if lang == :en
        %a.btn.btn-primary{:href => "/contact-us/"} More informations
      - else
        %a.btn.btn-primary{:href => "/#{I18n.locale}/contact-us/"} More informations

  .row.row-eq-height.bg-white.min-height-block
    .col-md-6.strategic-insights.bg-block
    .col-md-6.block

      - t("about-us.features").drop(1).first(1).each do |feature|
        %h3= feature[:title]
        - feature[:description].each do |text|
          %p= text

      - if lang == :en
        %a.btn.btn-primary{:href => "/contact-us/"} More informations
      - else
        %a.btn.btn-primary{:href => "/#{I18n.locale}/contact-us/"} More informations
