---
title : Fin Partners - Global leader in SAP executive search and Talent Advisory
---

#home
  .home-inner
    .container.banner
      .row
        .col-md-12.white

          %img.img-responsive.hidden-sm.hidden-xs{:src => image_path('home/big-title.png'), :srcset => " #{image_path('home/big-title@2x.png')} 2x, #{image_path('home/big-title.png')} 1x", :title => "Fin Partners : The Transparency is the key"}/

          %h1.ml-30.mr-30.visible-sm.visible-xs
            Fin Partners
          %h2.ml-30.mr-30.visible-sm.visible-xs
            The transparency is the Key.

          .banner-inner
            - t("home.intro").each do |text|
              %p= text

      .row.home-bottom
        .col-sm-4
        .col-sm-4.col-xs-6
          %p.link-to-bottom
            %a.js-scrollTo.white{:href => "#FinPartners"} Who is Fin Partners
        .col-sm-4.col-xs-6
          %ul.list-inline.text-right
            %li Follow us
            %li
              %span.fp-facebook
            %li
              %span.fp-twitter
            %li
              %span.fp-linkedin


.container
  .row.row-eq-height.bg-white#FinPartners.min-height-block

    .col-md-6.col-md-push-6.partners.bg-block

    .col-md-6.col-md-pull-6.block
      %h1= t("home.title")

      - t("home.description").each do |text|
        %p= text

      -# %ul
      -#   - t("testimonies").each do |testimony|
      -#     %li= testimony

      %a.btn.btn-primary{:href => "/"} About us

  .row.bg-fp.block

    .col-md-12
      %h1.text-center.white What we do ?
    .clearfix
    .col-md-4.text-center.white
      %img.img-responsive.m-a.mt-15{:src => image_path('home/executive_search_icon.png'), :srcset => " #{image_path('home/executive_search_icon@2x.png')} 2x, #{image_path('home/executive_search_icon.png')} 1x"}/
      %h2 Executive search
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    .col-md-4.text-center.white
      %img.img-responsive.m-a.mt-15{:src => image_path('home/interim_consultants_icon.png'), :srcset => " #{image_path('home/interim_consultants_icon@2x.png')} 2x, #{image_path('home/interim_consultants_icon.png')} 1x"}/
      %h2 Interim Consultants
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    .col-md-4.text-center.white
      %img.img-responsive.m-a.mt-15{:src => image_path('home/strategic_insight_icon.png'), :srcset => " #{image_path('home/strategic_insight_icon@2x.png')} 2x, #{image_path('home/strategic_insight_icon.png')} 1x"}/
      %h2 Strategic Insight
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo


  .row.bg-white.block
    .col-md-12
      %h1.text-center Testimonies

      .owl-carousel.owl-theme
        .item
          %h4 1
        .item
          %h4 2
        .item
          %h4 3
        .item
          %h4 4
        .item
          %h4 5
        .item
          %h4 6
        .item
          %h4 7
        .item
          %h4 8
        .item
          %h4 9
        .item
          %h4 10
        .item
          %h4 11
        .item
          %h4 12
