---
title : Fin Partners - Global leader in SAP executive search and Talent Advisory
---

#home
  .home-inner
    .container.marge-delete.banner
      .row
        .col-md-12.white

          %img.img-responsive.hidden-sm.hidden-xs{:src => image_path('home/big-title.png'), :srcset => " #{image_path('home/big-title@2x.png')} 2x, #{image_path('home/big-title.png')} 1x", :title => "Fin Partners : The Transparency is the key"}/

          %h1.ml-30.mr-30.visible-sm.visible-xs
            Fin Partners
          %h2.ml-30.mr-30.visible-sm.visible-xs
            The transparency is the Key.

          .banner-inner
            - t("home.intro").each do |text|
              %p= text

      .row.home-bottom
        .col-sm-4
        .col-sm-4.col-xs-6
          %p.link-to-bottom.pl-15
            %a.js-scrollTo.white{:href => "#FinPartners"}= t("home.title")
        .col-sm-4.col-xs-6
          %ul.list-inline.text-center.follow-us
            %li Follow us
            .clearfix.visible-xs.mb-10
            %li
              %a.white{:href => "https://www.linkedin.com/company/fin-partners1/"}
                %span.fp-linkedin


.container.marge-delete
  .row.row-eq-height.bg-white#FinPartners.min-height-block

    .col-md-6.col-md-push-6.partners.bg-block

    .col-md-6.col-md-pull-6.block
      %h1= t("home.title")

      - t("home.description").each do |text|
        %p= text

      -# %ul
      -#   - t("testimonies").each do |testimony|
      -#     %li= testimony

      - if lang == :en
        %a.btn.btn-primary{:href => "/about-us/"} About us
      - else
        %a.btn.btn-primary{:href => "/#{I18n.locale}/about-us/"} About us

  .row.bg-fp.block

    .col-md-12
      %h1.white.text-center= t("services.title")

    .clearfix
    .col-sm-4.white.col-xs-6
      %img.img-responsive.m-a.mt-15{:src => image_path('home/executive_search_icon.png'), :srcset => " #{image_path('home/executive_search_icon@2x.png')} 2x, #{image_path('home/executive_search_icon.png')} 1x"}/
      - t("services.features").drop(0).first(1).each do |feature|
        %h3.text-center= feature
    .col-sm-4.white.col-xs-6
      %img.img-responsive.m-a.mt-15{:src => image_path('home/interim_consultants_icon.png'), :srcset => " #{image_path('home/interim_consultants_icon@2x.png')} 2x, #{image_path('home/interim_consultants_icon.png')} 1x"}/
      - t("services.features").drop(1).first(1).each do |feature|
        %h3.text-center= feature
    .col-sm-4.white.col-xs-12
      %img.img-responsive.m-a.mt-15{:src => image_path('home/strategic_insight_icon.png'), :srcset => " #{image_path('home/strategic_insight_icon@2x.png')} 2x, #{image_path('home/strategic_insight_icon.png')} 1x"}/
      - t("services.features").drop(2).first(1).each do |feature|
        %h3.text-center= feature

    .clearfix
    .col-md-12.mt-15
      %p.white.text-center= t("services.description")
